<div class="login-container">
  <div class="logo">
    <img src="/assets/img/logo.png" alt="Burgan Bank">
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h1>KAMPANYA YÖNETİMİ</h1>
        <div class="row mt-5 mb-5">
          <div class="col">
            <div class="form-group">
              <input type="text" class="form-control"
                     id="userId" name="userId" placeholder="Kimlik No giriniz..."
                     [(ngModel)]="userId" onlyNumber>
            </div>
            <small class="text-danger" *ngIf="submitted && !userId">Lütfen Kimlik No giriniz.</small>
            <a class="btn btn-primary w-100 mt-3" (click)="login()">Giriş Yap</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
