<ngx-smart-modal #customerDefinitionAddUpdateModal identifier="customerDefinitionAddUpdateModal">
  <h1>TCKN Yükleme</h1>
  <hr class="blue">
  <form [formGroup]="formGroup" class="p-2"></form>
  <div class="mt-4 d-flex justify-content-center">
    <app-auth-check [authorization]="currentUserAuthorizations.customerDefinitionModuleAuthorizations.create">
      <button class="btn btn-orange px-5" type="button" (click)="addUpdate()">Kaydet</button>
    </app-auth-check>
  </div>
</ngx-smart-modal>
<ngx-smart-modal #customerDefinitionDeleteAlertModal identifier="customerDefinitionDeleteAlertModal">
  <h1>Bilgilendirme</h1>
  <p>Seçtiğiniz kayıtlar silinecektir, emin misiniz?</p>

  <div class="button-container">
    <button class="btn btn-primary" (click)="deleteAlertModalOk()">Evet</button>
    <button class="btn btn-outline-primary" (click)="closeDeleteAlertModal()">İptal</button>
  </div>
</ngx-smart-modal>
<app-main-content blockTitle="TCKN Tanımlama"
                  [authorization]="currentUserAuthorizations.customerDefinitionModuleAuthorizations">
    <div class="container">
      <div class="box">
        <div class="p-4">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="campaignId">Kampanya / Program</label>
                <select name="campaignId" id="campaignId" class="form-select form-select-sm"
                        [(ngModel)]="filterForm.campaignId">
                  <option [ngValue]="null">Seçiniz</option>
                  <option *ngFor="let i of campaignList"
                          [value]="i.id">{{i.name}}</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="identitySubTypeId">Alt Kırılım</label>
                <select name="identitySubTypeId" id="identitySubTypeId" class="form-select form-select-sm"
                        [(ngModel)]="filterForm.identitySubTypeId">
                  <option [ngValue]="null">Seçiniz</option>
                  <option *ngFor="let i of identitySubTypeList"
                          [value]="i.id">{{i.name}}</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>TCKN</label>
                <input type="text" class="form-control form-control-sm" maxlength="11" onlyNumber
                       [(ngModel)]="filterForm.identities">
              </div>
            </div>
            <div class="col pt-4">
              <button class="btn btn-sm btn-outline-primary w-100" (click)="clear()">Temizle</button>
            </div>
            <div class="col pt-4">
              <button class="btn btn-sm btn-primary w-100" (click)="customerDefinitionListGetByFilter()">Filtrele
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-4" *ngIf="listHasError">
      <div class="box">
        <div class="ps-4 pe-4 pt-2 pb-2 d-flex alert-warning">{{listErrorMessage}}</div>
      </div>
    </div>
    <div class="container mt-4" *ngIf="campaignIdentityList.length > 0">
      <div class="box">
        <div class="ps-4 pe-4 pt-2 d-flex">
          <div class="col d-flex justify-content-start">
            <i class="bi bi-trash" (click)="openDeleteAlertModal()"></i>
          </div>
          <div class="col d-flex justify-content-end">
            <i>
              <img src="/assets/img/excel-icon.png" (click)="customerDefinitionListGetByFilterExcelFile()">
            </i>
          </div>
        </div>
        <div class="mt-2 overflow-x-auto">
          <table class="table table-hover table-custom">
            <thead>
            <tr class="table-primary">
              <th class="add-update-button">
                <app-auth-check
                  [authorization]="currentUserAuthorizations.customerDefinitionModuleAuthorizations.create">
                  <input class="form-check-input" type="checkbox">
                </app-auth-check>
              </th>
              <th>Kampanya / Program</th>
              <th>Alt Kırılım</th>
              <th>TCKN</th>
              <th class="add-update-button">
                <app-auth-check
                  [authorization]="currentUserAuthorizations.customerDefinitionModuleAuthorizations.create">
                  <i class="bi bi-plus-circle-fill" (click)="showAddUpdateModal()"></i>
                </app-auth-check>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let campaignIdentity of campaignIdentityList'>
              <td>
                <input class="form-check-input" type="checkbox">
              </td>
              <td>{{campaignIdentity.campaignName}}</td>
              <td>{{campaignIdentity.identitySubTypeName}}</td>
              <td>{{campaignIdentity.identities}}</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="container d-flex align-items-center justify-content-end mt-3"
         *ngIf="campaignIdentityList.length > 0">
      <span>Page:</span>
      <select class="form-control-sm ms-2 me-2" [(ngModel)]="paging.currentPage"
              (change)="customerDefinitionListGetByFilter()">
        <option *ngFor='let i of counter(paging.totalPages); let val = index'
                [value]="val+1">{{val + 1}}</option>
      </select>
      <span class="me-3">of {{paging.totalPages}}</span>
      <button class="bi-chevron-left paging-button-left me-2"
              (click)="changePage(-1)"
              [disabled]="paging.currentPage <= 1"
              [ngClass]="{ 'disable-paging-button' : paging.currentPage == 1 }"></button>
      <button class="bi-chevron-right paging-button-right"
              (click)="changePage(+1)"
              [disabled]="paging.currentPage == paging.totalPages"
              [ngClass]="{ 'disable-paging-button' : paging.currentPage >= paging.totalPages }"></button>
    </div>
</app-main-content>
