<app-main-content blockTitle="{{campaign.name}}">
  <ngx-smart-modal #contractApprovalModal identifier="contractApprovalModal" customClass="contract-modal">
    <h1 class="text-purple-dark">Sözleşme Metni</h1>
    <hr class="purple">
    <iframe [src]="contractFileUrl | safe" width="100%" height=500></iframe>
    <div class="button-container col-6 m-auto mt-3">
      <button class="btn btn-purple px-5" type="button" disabled>
        Okudum, onaylıyorum
      </button>
      <button class="btn btn-purple px-5" type="button" disabled>
        Okudum, onaylamıyorum
      </button>
    </div>
  </ngx-smart-modal>
  <ngx-smart-modal #contractContentModal identifier="contractContentModal" customClass="contract-modal">
    <h1 class="text-purple-dark">Kampanya İçeriği</h1>
    <hr class="purple">
    <angular-editor class="campaign-preview-summary-angular-editor"
                    [config]="editorConfig"
                    [ngModel]="campaign.campaignDetail?.contentTr">
    </angular-editor>
    <div class="button-container col-6 m-auto mt-3">
      <button class="btn btn-purple px-5" type="button" (click)="contractContentModal.close()">Kapat</button>
    </div>
  </ngx-smart-modal>
  <div class="container d-flex">
    <div class="preview-container mt-5">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mx-auto">
          <div class="campaign-image" *ngIf="campaign.campaignDetail?.campaignDetailImageUrl">
            <img src="{{campaign.campaignDetail?.campaignDetailImageUrl}}" alt="">
          </div>
          <h3 class="campaign-title text-center" [ngClass]="{'my-4':campaign.campaignDetail?.campaignDetailImageUrl}">
            {{campaign.titleTr}}
          </h3>
          <div class="row">
            <div class="col-8 mx-auto">
              <div class="row mt-4">
                <div class="col">
                  <angular-editor class="campaign-preview-summary-angular-editor"
                                  [config]="editorConfig"
                                  [ngModel]="campaign.campaignDetail?.summaryTr">
                  </angular-editor>
                </div>
              </div>
              <div class="row" *ngIf="campaign.campaignDetail?.detailTr">
                <div class="col">
                  <div class="accordion mt-4" id="accordionCampaignDetail">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingCampaignDetail">
                        <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseCampaignDetail"
                                aria-expanded="true"
                                aria-controls="collapseCampaignDetail">
                          Detaylar için tıklayın
                        </button>
                      </h2>
                      <div id="collapseCampaignDetail"
                           class="accordion-collapse collapse"
                           aria-labelledby="headingCampaignDetail"
                           data-bs-parent="#accordionCampaignDetail">
                        <div class="accordion-body">
                          <angular-editor [config]="editorConfig"
                                          [ngModel]="campaign.campaignDetail?.detailTr">
                          </angular-editor>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-check mt-3" *ngIf="contractFileUrl">
                <input class="form-check-input" type="checkbox" id="campaignContractCheckDefault"
                       [checked]="true" disabled>
                <label>
                  <u><b (click)="contractApprovalModal.open()" class="cursor-pointer">
                    {{campaign.name}} Sözleşmesi</b></u>'ni okudum ve onaylıyorum.
                </label>
              </div>
              <div class="row mt-4">
                <div class="mx-auto col-6">
                  <div class="button-container">
                    <button class="btn btn-purple w-100" disabled>Katıl</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row x-large">
            <i class="bi bi-info-circle" (click)="contractContentModal.open()"></i>
          </div>
        </div>
      </div>
      <hr class="my-4">
      <h3 class="title text-purple-dark">Dönem İçi İşlemleriniz</h3>
      <b>Kampanyadan yararlanmak için {{campaign.endDate}} tarihine kadar aşağıdaki koşulu tamamlamalısınız.</b>
      <div class="box my-3">
        <div class="row target-content">
          <div class="col-3" *ngFor='let target of campaignTarget.informationlist; let j = index'>
            <div class="row">
              <div class="col-auto p-0">
                <div class="bi bi-square-fill" [ngStyle]="{'color': targetColorList[j]}"></div>
              </div>
              <div class="col">
                <div class="row" style="margin-bottom:10px">
                  <p class="target-title">
                    {{target.title}}
                  </p>
                  <angular-editor [config]="editorConfig" class="campaign-preview-target-angular-editor"
                                  [ngModel]="target.description">
                  </angular-editor>
                </div>
                <div class="spent">{{target.usedAmountStr}} {{target.usedAmountCurrencyCode}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row target-content">
          <div class="col-3" *ngFor='let target of campaignTarget.progressBarlist; let j = index'>
            <div class="row">
              <div class="col-auto p-0">
                <div class="bi bi-square-fill" [ngStyle]="{'color': targetColorList[20-j]}"></div>
              </div>
              <div class="col">
                <div class="row" style="margin-bottom:0">
                  <p class="target-title">
                    {{target.title}}
                  </p>
                  <angular-editor [config]="editorConfig" class="campaign-preview-target-angular-editor"
                                  [ngModel]="target.description">
                  </angular-editor>
                </div>
                <div class="progress progress-bar-style">
                  <div class="progress-bar" role="progressbar"
                       [ngStyle]="{'width': target.percent+'%'}"></div>
                </div>
                <div class="spent">{{target.usedAmountStr}} {{target.usedAmountCurrencyCode}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="target-footer">
          <div class="row">
            <div class="col">
              Harcama hedefi: {{campaignTarget.targetAmountStr}} {{campaignTarget.targetAmountCurrencyCode}}
            </div>
            <div class="col d-flex justify-content-end">
              Kalan harcama tutarı: {{campaignTarget.remainAmountStr}} {{campaignTarget.targetAmountCurrencyCode}}
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="campaignAchievement">
        <div class="col-4" *ngFor="let achievement of campaignAchievement">
          <div class="box mb-3 p-3 position-relative">
            <p class="mb-0">
              <strong>{{achievement.titleTr}}</strong>
            </p>
            <p class="mb-0">
              {{achievement.descriptionTr}}
            </p>
            <div class="ok">
              <i class="bi bi-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-main-content>
