<app-main-content>
  <app-step [data]="stepData" [id]="id"></app-step>
  <div class="container">
    <div class="box">
      <app-repost *ngIf="id" [repostData]="repostData" (copyItemEvent)="copyCampaign($event)"></app-repost>
      <div class="row p-4">
        <div class="col-8 m-auto">
          <form [formGroup]="formGroup">
            <div class="row">
              <div class="col form-group">
                <label for="campaignChannelCodeList">Kazanım Kanalı</label>
                <select class="form-select" multiple
                        name="campaignChannelCodeList" id="campaignChannelCodeList"
                        formControlName="campaignChannelCodeList"
                        [ngClass]="{ 'is-invalid': submitted && f.campaignChannelCodeList.invalid }">
                  <option *ngFor="let i of channelCodeList"
                          [value]="i">{{i}}</option>
                </select>
                <div *ngIf="submitted && f.campaignChannelCodeList.errors" class="invalid-feedback">
                  <div *ngIf="f.campaignChannelCodeList.errors.required">Kazanım Kanalı seçilmelidir.</div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col form-group pl-20px">
                <div class="form-check form-check-inline me-5">
                  <input class="form-check-input scale-2x" type="radio" name="type" id="type1"
                         formControlName="type" [value]="1"
                         (change)="typeChanged()">
                  <label class="form-check-label ms-2" for="type1">Tutar</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input scale-2x" type="radio" name="type" id="type2"
                         formControlName="type" [value]="2"
                         (change)="typeChanged()">
                  <label class="form-check-label ms-2" for="type2">Oran</label>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col form-group">
                <label for="achievementTypeId">Kazanım Tipi</label>
                <select class="form-select" name="achievementTypeId" id="achievementTypeId"
                        formControlName="achievementTypeId"
                        [ngClass]="{ 'is-invalid': submitted && f.achievementTypeId.invalid }">
                  <option [ngValue]="null">Seçiniz</option>
                  <option *ngFor="let i of achievementTypeList"
                          [value]="i.id">{{i.name}}</option>
                </select>
                <div *ngIf="submitted && f.achievementTypeId.errors" class="invalid-feedback">
                  <div *ngIf="f.achievementTypeId.errors.required">Kazanım Tipi seçilmelidir.</div>
                </div>
              </div>
              <div class="col form-group">
                <label for="actionOptionId">Aksiyon</label>
                <select class="form-select" name="actionOptionId" id="actionOptionId"
                        formControlName="actionOptionId">
                  <option [ngValue]="null">Seçiniz</option>
                  <option *ngFor="let i of actionOptionList"
                          [value]="i.id">{{i.name}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="!isInvisibleCampaign">
              <div class="row mt-3">
                <div class="col form-group">
                  <label for="titleTr">Başlık (Türkçe)</label>
                  <input type="text" class="form-control" name="titleTr" id="titleTr"
                         formControlName="titleTr"
                         [ngClass]="{ 'is-invalid': submitted && f.titleTr.invalid }">
                  <div *ngIf="submitted && f.titleTr.errors" class="invalid-feedback">
                    <div *ngIf="f.titleTr.errors.required">Başlık (Türkçe) girilmelidir.</div>
                  </div>
                </div>
                <div class="col form-group">
                  <label for="titleEn">Başlık (İngilizce)</label>
                  <input type="text" class="form-control" name="titleEn" id="titleEn"
                         formControlName="titleEn"
                         [ngClass]="{ 'is-invalid': submitted && f.titleEn.invalid }">
                  <div *ngIf="submitted && f.titleEn.errors" class="invalid-feedback">
                    <div *ngIf="f.titleEn.errors.required">Başlık (İngilizce) girilmelidir.</div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col form-group">
                  <label for="descriptionTr">Açıklama (Türkçe)</label>
                  <input type="text" class="form-control" name="descriptionTr" id="descriptionTr"
                         formControlName="descriptionTr"
                         [ngClass]="{ 'is-invalid': submitted && f.descriptionTr.invalid }">
                  <div *ngIf="submitted && f.descriptionTr.errors" class="invalid-feedback">
                    <div *ngIf="f.descriptionTr.errors.required">Açıklama (Türkçe) girilmelidir.</div>
                  </div>
                </div>
                <div class="col form-group">
                  <label for="descriptionEn">Açıklama (İngilizce)</label>
                  <input type="text" class="form-control" name="descriptionEn" id="descriptionEn"
                         formControlName="descriptionEn"
                         [ngClass]="{ 'is-invalid': submitted && f.descriptionEn.invalid }">
                  <div *ngIf="submitted && f.descriptionEn.errors" class="invalid-feedback">
                    <div *ngIf="f.descriptionEn.errors.required">Açıklama (İngilizce) girilmelidir.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3" *ngIf="formGroup.get('type')?.value==1">
              <div class="col form-group">
                <label for="currencyId">Para Birimi</label>
                <select class="form-select" name="currencyId" id="currencyId"
                        formControlName="currencyId"
                        [ngClass]="{ 'is-invalid': submitted && f.currencyId.invalid }">
                  <option *ngFor="let i of currencyList"
                          [value]="i.id">{{i.name}}</option>
                </select>
              </div>
              <div class="col form-group">
                <label for="amount">Kazanım Tutarı</label>
                <input type="text" class="form-control" turkishLira
                       name="amount" id="amount" formControlName="amount"
                       [ngClass]="{ 'is-invalid': submitted && formGroup.get('type')?.value==1 && f.amount.invalid }">
                <div *ngIf="submitted && formGroup.get('type')?.value==1 && f.amount.errors"
                     class="invalid-feedback">
                  <div *ngIf="f.amount.errors.required">Kazanım Tutarı girilmelidir.</div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <ng-container *ngIf="formGroup.get('type')?.value==1;then amount else rate"></ng-container>
              <ng-template #amount>
                <div class="col form-group">
                  <label for="maxAmount">Max Tutar</label>
                  <input type="text" class="form-control" turkishLira
                         name="maxAmount" id="maxAmount" formControlName="maxAmount">
                </div>
              </ng-template>
              <ng-template #rate>
                <div class="col form-group">
                  <label for="rate">Kazanım Oranı</label>
                  <input type="text" class="form-control"
                         name="rate" id="rate" formControlName="rate"
                         [ngClass]="{ 'is-invalid': submitted && formGroup.get('type')?.value==2 && f.rate.invalid }">
                  <div *ngIf="submitted && formGroup.get('type')?.value==2 && f.rate.errors"
                       class="invalid-feedback">
                    <div *ngIf="f.rate.errors.required">Kazanım Oranı girilmelidir.</div>
                  </div>
                </div>
              </ng-template>
              <div class="col form-group">
                <label for="maxUtilization">Max Yararlanma</label>
                <input type="text" class="form-control" onlyNumber
                       name="maxUtilization" id="maxUtilization" formControlName="maxUtilization">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center flex-column align-items-center">
      <a *ngIf="!isInvisibleCampaign" href="#" class="btn-link mt-4" [routerLink]="[preview,id]">
        Görüntüle
      </a>
      <button *ngIf="!disabled && nextButtonVisible" class="btn btn-orange mt-4 px-5" type="button"
              (click)="continue()">
        Kaydet ve bitir
      </button>
    </div>
  </div>
</app-main-content>
