<ngx-smart-modal #campaignGainsApproveAlertModal identifier="campaignGainsApproveAlertModal">
  <h1>Bilgilendirme</h1>
  <p>{{alertModalText}}</p>

  <div class="button-container">
    <button class="btn btn-primary" (click)="alertModalOk()">Kaydet</button>
    <button class="btn btn-outline-primary" (click)="campaignGainsApproveAlertModal.close()">İptal</button>
  </div>
</ngx-smart-modal>
<ngx-smart-modal #campaignGainsAddUpdateModal identifier="campaignGainsAddUpdateModal">
  <h1>Kazanım {{addUpdateButtonText}}</h1>
  <hr class="blue">
  <form [formGroup]="formGroup" class="py-2">
    <div class="row">
      <div class="col form-group pl-20px">
        <div class="form-check form-check-inline me-5">
          <input class="form-check-input scale-2x" type="radio" name="type" id="type1"
                 formControlName="type" [value]="1"
                 (change)="typeChanged()">
          <label class="form-check-label ms-2" for="type1">Tutar</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input scale-2x" type="radio" name="type" id="type2"
                 formControlName="type" [value]="2"
                 (change)="typeChanged()">
          <label class="form-check-label ms-2" for="type2">Oran</label>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col form-group">
        <label for="achievementTypeId">Kazanım Tipi</label>
        <select class="form-select" name="achievementTypeId" id="achievementTypeId"
                formControlName="achievementTypeId"
                [ngClass]="{ 'is-invalid': submitted && f.achievementTypeId.invalid }">
          <option [ngValue]="null">Seçiniz</option>
          <option *ngFor="let i of achievementTypeList"
                  [value]="i.id">{{i.name}}</option>
        </select>
        <div *ngIf="submitted && f.achievementTypeId.errors" class="invalid-feedback">
          <div *ngIf="f.achievementTypeId.errors.required">Kazanım Tipi seçilmelidir.</div>
        </div>
      </div>
      <div class="col form-group">
        <label for="actionOptionId">Aksiyon</label>
        <select class="form-select" name="actionOptionId" id="actionOptionId"
                formControlName="actionOptionId">
          <option [ngValue]="null">Seçiniz</option>
          <option *ngFor="let i of actionOptionList"
                  [value]="i.id">{{i.name}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="!isInvisibleCampaign">
      <div class="row mt-3">
        <div class="col form-group">
          <label for="titleTr">Başlık (Türkçe)</label>
          <input type="text" class="form-control" name="titleTr" id="titleTr"
                 formControlName="titleTr"
                 [ngClass]="{ 'is-invalid': submitted && f.titleTr.invalid }">
          <div *ngIf="submitted && f.titleTr.errors" class="invalid-feedback">
            <div *ngIf="f.titleTr.errors.required">Başlık (Türkçe) girilmelidir.</div>
          </div>
        </div>
        <div class="col form-group">
          <label for="titleEn">Başlık (İngilizce)</label>
          <input type="text" class="form-control" name="titleEn" id="titleEn"
                 formControlName="titleEn"
                 [ngClass]="{ 'is-invalid': submitted && f.titleEn.invalid }">
          <div *ngIf="submitted && f.titleEn.errors" class="invalid-feedback">
            <div *ngIf="f.titleEn.errors.required">Başlık (İngilizce) girilmelidir.</div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col form-group">
          <label for="descriptionTr">Açıklama (Türkçe)</label>
          <input type="text" class="form-control" name="descriptionTr" id="descriptionTr"
                 formControlName="descriptionTr"
                 [ngClass]="{ 'is-invalid': submitted && f.descriptionTr.invalid }">
          <div *ngIf="submitted && f.descriptionTr.errors" class="invalid-feedback">
            <div *ngIf="f.descriptionTr.errors.required">Açıklama (Türkçe) girilmelidir.
            </div>
          </div>
        </div>
        <div class="col form-group">
          <label for="descriptionEn">Açıklama (İngilizce)</label>
          <input type="text" class="form-control" name="descriptionEn" id="descriptionEn"
                 formControlName="descriptionEn"
                 [ngClass]="{ 'is-invalid': submitted && f.descriptionEn.invalid }">
          <div *ngIf="submitted && f.descriptionEn.errors" class="invalid-feedback">
            <div *ngIf="f.descriptionEn.errors.required">Açıklama (İngilizce)
              girilmelidir.
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="formGroup.get('type')?.value==1;then amount else rate"></ng-container>
    <ng-template #amount>
      <div class="row mt-3">
        <div class="col form-group">
          <label for="currencyId">Para Birimi</label>
          <select class="form-select" name="currencyId" id="currencyId"
                  formControlName="currencyId"
                  [ngClass]="{ 'is-invalid': submitted && f.currencyId.invalid }">
            <option *ngFor="let i of currencyList"
                    [value]="i.id">{{i.name}}</option>
          </select>
        </div>
        <div class="col form-group">
          <label for="amount">Kazanım Tutarı</label>
          <input type="text" class="form-control" currencyMask
                 name="amount" id="amount" formControlName="amount"
                 [ngClass]="{ 'is-invalid': submitted && f.amount.invalid }">
          <div *ngIf="submitted && f.amount.errors"
               class="invalid-feedback">
            <div *ngIf="f.amount.errors.required">Kazanım Tutarı girilmelidir.</div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #rate>
      <div class="row mt-3">
        <div class="col-6 form-group">
          <label for="rate">Kazanım Oranı</label>
          <input type="text" class="form-control" currencyMask
                 [options]="{ min: 0, max: 999 }"
                 name="rate" id="rate" formControlName="rate"
                 (ngModelChange)="rateChange()"
                 [ngClass]="{ 'is-invalid': submitted && f.rate.invalid }">
          <div *ngIf="submitted && f.rate.errors"
               class="invalid-feedback">
            <div *ngIf="f.rate.errors.required">Kazanım Oranı girilmelidir.</div>
            <div *ngIf="f.rate.errors.max">Kazanım Oranı 100’ün üzerinde bir değer
              girilemez.
            </div>
          </div>
        </div>
        <div class="col-6 form-group">
          <label for="xkampCode">XKAMP</label>
          <input type="text" class="form-control" name="xkampCode" id="xkampCode"
                 formControlName="xkampCode" maxlength="7"
                 (ngModelChange)="xkampChange()"
                 [ngClass]="{ 'is-invalid': submitted && f.xkampCode.invalid }">
          <div *ngIf="submitted && f.xkampCode.errors" class="invalid-feedback">
            <div *ngIf="f.xkampCode.errors.required">XKAMP girilmelidir.</div>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="row mt-3">
      <div class="col form-group">
        <label for="maxAmount">Max Tutar</label>
        <input type="text" class="form-control" currencyMask
               name="maxAmount" id="maxAmount" formControlName="maxAmount">
      </div>
      <div class="col form-group">
        <label for="maxUtilization">Max Yararlanma</label>
        <input type="text" class="form-control" onlyNumber
               name="maxUtilization" id="maxUtilization" formControlName="maxUtilization">
      </div>
    </div>
  </form>
  <div class="mt-4 d-flex justify-content-center">
    <app-auth-check [authorization]="nextButtonAuthority">
      <button class="btn btn-orange px-5" type="button" (click)="update()">{{addUpdateButtonText}}</button>
    </app-auth-check>
  </div>
</ngx-smart-modal>
<ngx-smart-modal #campaignGainsDeleteAlertModal identifier="campaignGainsDeleteAlertModal">
  <h1>Bilgilendirme</h1>
  <p>Kayıt silinecektir, emin misiniz?</p>

  <div class="button-container">
    <button class="btn btn-primary" (click)="deleteAlertModalOk()">Evet</button>
    <button class="btn btn-outline-primary" (click)="closeDeleteAlertModal()">İptal</button>
  </div>
</ngx-smart-modal>
<app-form-change-alert></app-form-change-alert>
<app-main-content>
  <app-step [data]="stepData" [id]="id"></app-step>
  <div class="container">
    <div class="box">
      <app-repost *ngIf="id"
                  [repostData]="repostData"
                  [authority]="currentUserAuthorizations"
                  (copyItemEvent)="copyCampaign($event)">
      </app-repost>
      <div class="row p-3">
        <div class="col-10 m-auto">
          <table class="table">
            <thead class="gain-channel-table-head">
            <tr>
              <th>#</th>
              <th>Tutar/Oran</th>
              <th>Kazanım Tipi</th>
              <th>Aksiyon</th>
              <th>Max Yararlanma</th>
              <th class="gain-channel-add-update">
                <app-auth-check [authorization]="nextButtonAuthority">
                  <img src="/assets/img/plus.png" *ngIf="addButtonVisibleState && crudButtonVisible" (click)="showAddModal()">
                </app-auth-check>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let achievement of campaignAchievementList'>
              <td class="gain-channel-add-update">
                <img *ngIf="crudButtonVisible"
                     src="/assets/img/eye.png" (click)="showUpdateModal(achievement)">
              </td>
              <td>{{achievement.rule?.name}}</td>
              <td>{{achievement.achievementType?.name}}</td>
              <td>{{achievement.actionOption?.name}}</td>
              <td>{{achievement.maxUtilization}}</td>
              <td class="gain-channel-delete">
                <app-auth-check [authorization]="nextButtonAuthority">
                  <img *ngIf="crudButtonVisible"
                       src="/assets/img/cross.png" (click)="openDeleteAlertModal(achievement)">
                </app-auth-check>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center flex-column align-items-center">
      <a target="_blank" href="#" class="btn-link mt-4"
         *ngIf="currentUserAuthorizations.view && !isInvisibleCampaign && buttonTypeIsContinue"
         [routerLink]="[previewLink]">
        Görüntüle
      </a>
      <div *ngIf="nextButtonVisible">
        <app-auth-check [authorization]="nextButtonAuthority">
          <ng-container *ngIf="buttonTypeIsContinue;then continueTemplate else saveTemplate"></ng-container>
          <ng-template #saveTemplate>
            <button class="btn btn-orange mt-4 px-5" type="button" (click)="save()">Kaydet</button>
          </ng-template>
          <ng-template #continueTemplate>
            <button class="btn btn-orange mt-4 px-5" type="button" (click)="continue()">Bitir</button>
          </ng-template>
        </app-auth-check>
      </div>
    </div>
  </div>
</app-main-content>
