.contract-row {
  padding-bottom: 20px;
  padding-top: 24px;
}

.contract-id-input {
  border-right: 0 !important;
}

.search-icon {
  border-radius: 0;
  border-top: 1px solid #ced4da !important;
  border-right: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
}

.search-icon-invalid {
  color: #dc3545;
  border-radius: 0;
  border-top: 1px solid #dc3545 !important;
  border-right: 1px solid #dc3545 !important;
  border-bottom: 1px solid #dc3545 !important;
}
