@import "~ngx-smart-modal/ngx-smart-modal";
@import "~ngx-ui-switch/ui-switch.component";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import "~bootstrap/scss/mixins";
@import "bootstrap-icons/font/bootstrap-icons";
@import '~ngx-toastr/toastr';

app-root {
  color: #464646;

  .change-bgc{
    .angular-editor-textarea.disabled {
      background-color: #fbc89c !important;
    }
  }

  .preview-modal-custom-class {
    max-width: fit-content !important;
  }

  .accordion-custom {
    background: none !important;
    color: #464646 !important;
    font-weight: 600 !important;
    padding-left: 10px;
  }

  .accordion-invalid {
    border-color: red !important;
  }

  .turn-list-button {
    font-weight: 600;
    color: #0099d8;
    padding-left: 0 !important;
    padding-right: 0 !important;

    &:hover {
      color: #0099d8;
    }
  }

  .gain-channel-table-head {
    border-bottom-color: #72b9f3;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    color: #72b9f3;
  }

  .gain-channel-add-update {
    padding-left: 0px;
    padding-right: 0px;
    width: 25px;
    text-align: center !important;
  }

  .gain-channel-add-update > img {
    cursor: pointer;
  }

  .gain-channel-delete {
    text-align: center !important;
  }

  .accordion-button-custom {
    background: #e1e1e1;
    color: black !important;
    text-align: left !important;
    padding-left: 1.5rem !important;
    width: 100% !important;
    display: flex;
    border-radius: 10px !important;

    // Accordion icon
    &:not(.collapsed) {
      background: #72b9f3;

      &::after {
        content: "\F286";
        font-family: "bootstrap-icons" !important;
      }
    }

    // Accordion icon
    &::after {
      width: $accordion-icon-width;
      height: $accordion-icon-width;
      margin-left: auto;
      content: "\F282";
      font-family: "bootstrap-icons" !important;
    }

    &:hover {
      background: #72b9f3;
    }

    &:focus {
    }
  }

  .pl-30 {
    padding-left: 30px;
  }

  .color-blue {
    color: #0099d8 !important;
  }

  .bg-color-blue {
    background-color: #b1e8ff !important;
  }

  .campaign-target-row {
    padding: 0.5rem 0 !important;
    margin-bottom: 0.25rem !important;
  }

  .calendar {
    position: relative;

    &:after {
      content: "\f1e4";
      position: absolute;
      top: 27px;
      left: 7px;
      font-family: "bootstrap-icons" !important;
    }
  }

  .new-camp-calendar {
    position: relative;

    &:after {
      content: "\f1e4";
      position: absolute;
      top: 35px;
      left: 10px;
      font-family: "bootstrap-icons" !important;
    }
  }

  .table-custom {
    th, td {
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
    }
  }

  .paging-button-left, .paging-button-right {
    background-color: gray;
    color: white;
    width: 31px;
    height: 31px;
    border: none;
    border-radius: 5px;
  }

  .disable-paging-button {
    background-color: lightgray !important;
  }

  .angular-editor-textarea.disabled {
    background-color: #e9ecef !important;
  }

  .bg-primary {
    background-color: #a2e4ff !important;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .myDpSelector {
    top: 72px !important;
  }

  .form-control:not(.form-control-sm), .form-select:not(.form-select-sm) {
    line-height: 2;
  }

  .w-45px {
    width: 45px;
  }

  .w-65px {
    width: 65px;
  }

  .w-100px {
    width: 100px;
  }

  .w-content {
    width: fit-content;
  }

  .navbar-inner {
    background: transparent;
  }

  .navbar-light .navbar-toggler {
    color: rgb(255 255 255 / 55%);
    border-color: rgb(255 255 255 / 10%);
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("../../assets/img/menu.png");
  }

  div#navbarSupportedContent {
    justify-content: center;

    .sign-out {
      position: absolute;
      right: var(--bs-gutter-x, .75rem);
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;

      li {
        &:not(:last-child) {
          margin-right: 50px;
        }

        a {
          color: #fff;
          text-decoration: none;

          &.active {
            font-weight: 500;
            border: 1px solid;
            border-radius: 20px;
            padding: 0.5rem 15px;
          }
        }
      }
    }
  }

  .text-blue {
    color: #0199d7;
  }

  .scale-2x {
    transform: scale(2);
  }

  .scale-1-5x {
    transform: scale(1.5);
  }

  ngx-smart-modal {
    .overlay {
      display: flex;
      justify-content: center;
      align-items: center;

      .nsm-content {
        border-radius: 10px;

        .nsm-body {
          h1 {
            color: #0099d8;
            font-size: 20px;
          }

          .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;

            button {
              width: 100%;

              &:not(:last-child) {
                margin-bottom: 10px;
              }
            }
          }
        }
      }

    }
  }

  .form-group {
    label {
      font-weight: 600;
    }
  }


  .c-pointer {
    cursor: pointer;
  }

  .pl-32px {
    padding-left: 32px;
  }

  .pl-5px {
    padding-left: 5px;
  }

  .pr-5px {
    padding-right: 5px;
  }

  .pt-5px {
    padding-top: 5px;
  }

  .pb-5px {
    padding-bottom: 5px;
  }

  .px-5px {
    padding-left: 5px;
    padding-right: 5px;
  }

  .py-5px {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .p-5px {
    padding: 5px;
  }

  .pl-15px {
    padding-left: 15px;
  }

  .pr-15px {
    padding-right: 15px;
  }

  .pt-15px {
    padding-top: 15px;
  }

  .pb-15px {
    padding-bottom: 15px;
  }

  .px-15px {
    padding-left: 15px;
    padding-right: 15px;
  }

  .py-15px {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .p-15px {
    padding: 15px;
  }

  .pl-20px {
    padding-left: 20px;
  }

  .pr-20px {
    padding-right: 20px;
  }

  .pt-20px {
    padding-top: 20px;
  }

  .pb-20px {
    padding-bottom: 20px;
  }

  .px-20px {
    padding-left: 20px;
    padding-right: 20px;
  }

  .py-20px {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .p-20px {
    padding: 20px;
  }

  .no-border {
    border: none !important;
  }

  .fw-600 {
    font-weight: 600;
  }

  .fs-18 {
    font-size: 18px;
  }

  .fs-14 {
    font-size: 14px;
  }

  .no-wrap {
    width: 1%;
    white-space: nowrap;
  }

  .table > :not(:first-child) {
    border-top: 2px solid #efefef;
  }

  .table-primary {
    background: #0099d7;
    --bs-table-bg: #0099d7;
    color: #fff;
  }

  .circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #9d9d9d;
  }

  .circle-filled {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #9d9d9d;
  }

  .list-none {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .text-grey {
    color: #727171;
  }

  hr.blue {
    background-color: #0099d8;
    opacity: 1;
  }

  .w-125px {
    width: 125px;
  }

  .form-select {
    &.custom {
      background-color: transparent;
      border-color: #0199d7;
      color: #0199d7;
      box-shadow: none;
      outline: none;
      background-image: url("../../assets/img/caret-down.png");
      background-size: 9px 5px;
    }
  }

  .btn {
    border-radius: 20px;

    &:not(.btn-sm) {
      padding: 10px 0.75rem
    }
  }

  .btn-primary {
    background: #0099d7;
    border-color: #0099d7;
    color: #fff !important;

    &:hover, &:focus {
      background: #0099d7;
      border-color: #0099d7;
      opacity: .9;
    }
  }

  .btn-outline-primary {
    border-color: #11a0db;
    color: #0099d8;

    &:hover, &:focus {
      background: transparent;
      border-color: #11a0db;
      color: #0099d8;
      opacity: .9;

    }
  }

  .btn-orange {
    color: #fff;
    background: #f78d1d;
    border-color: #f78d1d;

    &:hover, &:focus {
      color: #fff;
      background: #f78d1d;
      border-color: #f78d1d;
      opacity: .9;
    }
  }

  .btn-white {
    background: #fff;
    color: #0099d8;

    &:hover, &:focus {
      background: #fff;
      color: #0099d8;
      opacity: .9;
    }
  }

  .btn-outline-white {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;

    &.show {
      background: #fff;
      color: #0099d8;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:hover, &:focus {
      background: #fff;
      color: #0099d8;
    }
  }

  .dropdown-menu.show {
    inset: -3px -1px auto -1px !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;

    li {
      a {
        color: #464646 !important;

        &:active {
          text-decoration: none;
          background-color: #e9ecef;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, .15);
      }
    }
  }

  .header {
    height: 250px;
    background: url("../img/header-bg.png");
    background-size: cover;

    .menu {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;

        li {

          a {
            color: #fff;
            text-decoration: none;

            &.active {
              font-weight: 500;
            }
          }
        }
      }
    }

    .sign-out {
      cursor: pointer;
    }
  }

  #mainContent {
    position: relative;
    top: -100px;

    & > div {
      & > .row {
        margin-bottom: 40px;

        & > [class*=col] > .title {
          font-size: 32px;
          line-height: 32px;
          font-weight: 500;
          margin-bottom: 10px;
        }
      }
    }

    .left-box {
      background: #bde5f5;
      padding: 25px;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
      position: relative;
      overflow: hidden;

      .attachment {
        position: absolute;
        top: 15px;
        right: 15px;
      }

      .arrow {
        position: absolute;
        right: 15px;
        bottom: 15px;
      }

      .left-box-title {
        font-size: 25px;
        word-spacing: 100vw;
      }
    }

    .box {
      background: #fff;
      -webkit-box-shadow: 0px 1px 10px -1px #ccc;
      box-shadow: 0px 1px 10px -1px #ccc;

      .box-title {
        font-weight: 600;
        color: #0099d8;
        font-size: 20px;
        padding: 15px;
        border-bottom: 1px solid;
      }

      & > .title {
        font-weight: 600;
        color: #0099d8;
        font-size: 20px;
        padding: 15px;
        border-bottom: 1px solid;
      }

      & > .item {
        padding: 15px;

        &:not(:last-child) {
          border-bottom: 1px solid #b7b7b7;
        }

        .title {
          font-weight: 600;
          margin-bottom: 20px;
        }
      }

      a {
        color: #0099d8;
        text-decoration: none;
      }
    }

    #stepContent {
      position: relative;
      margin-bottom: 30px;

      &:before {
        content: '';
        width: 50%;
        height: 1px;
        border-bottom: 1px solid #f79239;
        position: absolute;
        bottom: 0;
      }

      &:after {
        content: '';
        width: 50%;
        height: 1px;
        border-bottom: 1px solid #fff;
        position: absolute;
        bottom: 0;
        right: 0;
      }

      &.finished {
        &:after {
          content: '';
          width: 50%;
          height: 1px;
          border-bottom: 1px solid #f79239;
          position: absolute;
          bottom: 0;
        }
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;

        li {
          text-align: center;
          display: flex;
          flex-grow: 1;
          justify-content: center;
          color: #fff;
          padding-bottom: 20px;
          border-bottom: 1px solid #fff;
          position: relative;
          z-index: 1;

          &:after {
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 100%;
            position: absolute;
            background: #fff;
            bottom: -10px;
          }

          &.active {
            color: #f79239;
            font-weight: 600;
            border-bottom-color: #f79239;
            font-size: 18px;

            &:after {
              background: #f79239;
            }
          }

          &.passed {
            color: #f79239;
            border-bottom-color: #f79239;

            &:after {
              background: #f79239;
            }
          }
        }
      }
    }

    .text-purple {
      color: #787deb;
    }

    .text-purple-dark {
      color: #0407df !important;
    }

    hr.purple {
      background-color: #0407df;
    }

    .bg-purple {
      background-color: #787deb;
      color: #fff;
    }

    .btn-purple {
      background-color: #787deb;
      color: white;
    }

    .nsm-dialog.contract-modal {
      max-width: 800px;

      .modal-scrollable {
        border: 1px solid #efefef;
        padding: 8px;
        border-radius: 8px;
        max-height: 250px;
        overflow-y: scroll;
      }
    }

    .accordion-button {
      background-color: #e0e1f6;
      color: #0407df;
      font-weight: bold;
    }

    .accordion-button:not(.collapsed) {
      background-color: #e0e1f6;
      color: #0407df;
    }

    .preview-container {
      display: block;
      width: 100%;

      .campaign-image {
        border: 2px solid #ddd;
        display: flex;
        width: 100%;
        border-radius: 8px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .ok {
        background-color: #00ff00;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50px;
        color: #000;
        text-align: center;
        border-top-left-radius: 100%;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  app-root {
    #navbarSupportedContent {
      background: #0061af;
      padding: 10px;
      z-index: 2;

      ul {
        li {
          margin-right: 0 !important;
        }
      }

      .sign-out {
        position: relative !important;
      }
    }

    #mainContent {
      top: -180px;
    }
  }
}
