<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container position-relative">
      <div class="logo navbar-brand">
        <a><img src="/assets/img/logo-sm.png" alt="Burgan Bank"></a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              (click)="isCollapsed = !isCollapsed"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed"
           [ngClass]="{show: isCollapsed}">
        <ul class="navbar-nav mb-2 mb-lg-0" (click)="isCollapsed = !isCollapsed">
          <li class="nav-item">
            <app-auth-check [authorization]="currentUserAuthorizations.campaignDefinitionModuleAuthorizations.view">
              <a [routerLink]="['campaign-definition']" class="nav-link" aria-current="page" routerLinkActive="active">
                Kampanya Tanımı
              </a>
            </app-auth-check>
          </li>
          <li class="nav-item">
            <app-auth-check [authorization]="currentUserAuthorizations.customerDefinitionModuleAuthorizations.view">
              <a [routerLink]="['customer-definition']" class="nav-link" aria-current="page" routerLinkActive="active">
                TCKN Tanımlama
              </a>
            </app-auth-check>
          </li>
          <li class="nav-item">
            <app-auth-check [authorization]="currentUserAuthorizations.campaignLimitsModuleAuthorizations.view">
              <a [routerLink]="['campaign-limits']" class="nav-link" routerLinkActive="active">
                Kampanya Çatı Limitleri
              </a>
            </app-auth-check>
          </li>
          <li class="nav-item">
            <app-auth-check [authorization]="currentUserAuthorizations.targetDefinitionModuleAuthorizations.view">
              <a [routerLink]="['target-definition']" class="nav-link" routerLinkActive="active">
                Hedef Tanımı
              </a>
            </app-auth-check>
          </li>
          <li class="nav-item">
            <app-auth-check [authorization]="currentUserAuthorizations.reportsModuleAuthorizations.view">
              <a [routerLink]="['reports']" class="nav-link" routerLinkActive="active">
                Raporlar
              </a>
            </app-auth-check>
          </li>
        </ul>
        <div class="sign-out">
          <a (click)="logout()"><img src="/assets/img/sign-out.png" alt="Çıkış Yap"></a>
        </div>
      </div>
    </div>
  </nav>
</div>
