<div id="mainContent">
  <div class="container" *ngIf="blockTitle">
    <div class="row">
      <div class="col-md col-sm-12">
        <div class="title text-white">{{blockTitle}}</div>
      </div>
      <div class="col-md col-sm-12" *ngIf="newButtonText">
        <app-auth-check [authorization]="createAuthorization">
          <a [routerLink]="[route]" class="btn btn-white px-5 float-end">{{newButtonText}}</a>
        </app-auth-check>
      </div>
    </div>
  </div>
  <ng-content></ng-content>
</div>
