.container {
  margin-top: 80px;
}

.bg-header {
  background-color: #a2e4ff !important;
  padding: 1rem 1.5rem !important;
}

.display {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  opacity: 0.7;
}

.wait {
  display: flex;
  justify-content: center;
  background-color: #f78d1d;
  margin-right: 1rem;
  padding: 0.5rem 1.5rem !important;
  color: white;
  border-radius: 10px;
}

.history-row {
  display: flex;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  border-bottom: 1px solid #dee2e6 !important;
}

.campaign-target-row {
  margin-left: 0;
  margin-right: 0;
}

.ctr-bgc {
  background-color: #b1e8ff !important;
}

.title-button {
  color: #464646;
  background-color: white;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  padding: 0;
  margin-bottom: 20px;
  border-radius: 0.25rem;
  line-height: 1.7;
}

.change-bgc {
  background-color: #fbc89c;
}
