<app-main-content>
  <div class="container">
    <div class="box">
      <div class="bg-header">
        <div class="row">
          <div class="col display">
            Görüntüle
          </div>
          <div class="col-auto wait">
            Onay bekliyor
          </div>
        </div>
      </div>
      <form [formGroup]="campaignDefinitionFormGroup" class="p-4">
        <button class="title-button"
                [ngClass]="{'change-bgc':campaignUpdatePages.isCampaignUpdated}">Kampanya Tanımı
        </button>
        <div class="row align-items-end">
          <div class="col">
            <div class="row" [ngClass]="{ 'mb-3': campaignDefinitionF.isContract.value }">
              <div class="col pl-20px">
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input scale-2x"
                           [ngClass]="{'change-bgc':campaignUpdateFields.isIsActiveUpdated}"
                           type="checkbox" id="isActive" name="isActive"
                           formControlName="isActive">
                    <label class="form-check-label ms-2" for="isActive">Aktif</label>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input scale-2x"
                           [ngClass]="{'change-bgc':campaignUpdateFields.isIsBundleUpdated}"
                           type="checkbox" id="isBundle" name="isBundle"
                           formControlName="isBundle">
                    <label class="form-check-label ms-2" for="isBundle">
                      Birleştirilebilir
                    </label>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input scale-2x"
                           [ngClass]="{'change-bgc':campaignUpdateFields.isIsContractUpdated}"
                           type="checkbox" id="isContract" name="isContract"
                           formControlName="isContract">
                    <label class="form-check-label ms-2" for="isContract">Sözleşme</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-end" *ngIf="campaignDefinitionF.isContract.value">
              <div class="col">
                <div class="form-group">
                  <label for="contractName">Sözleşme ID</label>
                  <div class="input-group">
                    <input type="text"
                           class="form-control"
                           [ngClass]="{'change-bgc':campaignUpdateFields.isContractIdUpdated}"
                           name="contractName" id="contractName"
                           formControlName="contractName">
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <button class="btn btn-secondary px-5" (click)="showDocumentFile()">Göster</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="form-group">
              <label for="programTypeName">Program Tipi</label>
              <input type="text"
                     class="form-control"
                     [ngClass]="{'change-bgc':campaignUpdateFields.isProgramTypeIdUpdated}"
                     name="programTypeName" id="programTypeName"
                     formControlName="programTypeName">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="viewOptionName">Görüntüleme</label>
              <input type="text"
                     class="form-control"
                     [ngClass]="{'change-bgc':campaignUpdateFields.isViewOptionIdUpdated}"
                     name="viewOptionName" id="viewOptionName"
                     formControlName="viewOptionName">
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="form-group">
              <label for="name">Kampanya Adı</label>
              <input type="text"
                     class="form-control"
                     [ngClass]="{'change-bgc':campaignUpdateFields.isNameUpdated}"
                     name="name" id="name"
                     formControlName="name">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="code">Kampanya Kodu</label>
              <input type="text"
                     class="form-control"
                     name="code" id="code"
                     formControlName="code">
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="form-group">
              <label for="titleTr">Başlık (Türkçe)</label>
              <input type="text"
                     class="form-control"
                     [ngClass]="{'change-bgc':campaignUpdateFields.isTitleTrUpdated}"
                     name="titleTr" id="titleTr" formControlName="titleTr">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="titleEn">Başlık (İngilizce)</label>
              <input type="text"
                     class="form-control"
                     [ngClass]="{'change-bgc':campaignUpdateFields.isTitleEnUpdated}"
                     name="titleEn" id="titleEn" formControlName="titleEn">
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="form-group">
              <label for="descriptionTr">Açıklama (Türkçe)</label>
              <input type="text"
                     class="form-control"
                     [ngClass]="{'change-bgc':campaignUpdateFields.isDescriptionTrUpdated}"
                     name="descriptionTr" id="descriptionTr" formControlName="descriptionTr">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="descriptionEn">Açıklama (İngilizce)</label>
              <input type="text" class="form-control"
                     [ngClass]="{'change-bgc':campaignUpdateFields.isDescriptionEnUpdated}"
                     name="descriptionEn" id="descriptionEn" formControlName="descriptionEn">
            </div>
          </div>
        </div>
        <div class="accordion mt-3" id="accordionSummary">
          <div class="accordion-item">
            <h2 class="accordion-header"
                [ngClass]="{'change-bgc':campaignUpdateFields.isSummaryTrUpdated || campaignUpdateFields.isSummaryEnUpdated}"
                id="headingSummary">
              <button class="accordion-button collapsed accordion-custom" type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseSummary"
                      aria-expanded="true"
                      aria-controls="collapseSummary">
                Özet
              </button>
            </h2>
            <div id="collapseSummary" class="accordion-collapse collapse" aria-labelledby="headingSummary"
                 data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="summaryTr">Türkçe</label>
                      <angular-editor [config]="editorConfig" formControlName="summaryTr" id="summaryTr"
                                      [ngClass]="{'change-bgc':campaignUpdateFields.isSummaryTrUpdated}"
                                      placeholder="Özet (Türkçe)">
                      </angular-editor>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="summaryEn">İngilizce</label>
                      <angular-editor [config]="editorConfig" formControlName="summaryEn" id="summaryEn"
                                      [ngClass]="{'change-bgc':campaignUpdateFields.isSummaryEnUpdated}"
                                      placeholder="Özet (İngilizce)">
                      </angular-editor>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="campaignDefinitionF.viewOptionId.value != 4">
          <div class="accordion mt-3" id="accordionContent">
            <div class="accordion-item">
              <h2 class="accordion-header"
                  [ngClass]="{'change-bgc':campaignUpdateFields.isContentTrUpdated || campaignUpdateFields.isContentEnUpdated}"
                  id="headingContent">
                <button class="accordion-button collapsed accordion-custom" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseContent"
                        aria-expanded="true"
                        aria-controls="collapseContent">
                  İçerik
                </button>
              </h2>
              <div id="collapseContent" class="accordion-collapse collapse" aria-labelledby="headingContent"
                   data-bs-parent="#accordionContent">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="contentTr">Türkçe</label>
                        <angular-editor [config]="editorConfig" formControlName="contentTr" id="contentTr"
                                        [ngClass]="{'change-bgc':campaignUpdateFields.isContentTrUpdated}"
                                        placeholder="İçerik (Türkçe)">
                        </angular-editor>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="contentEn">İngilizce</label>
                        <angular-editor [config]="editorConfig" formControlName="contentEn" id="contentEn"
                                        [ngClass]="{'change-bgc':campaignUpdateFields.isContentEnUpdated}"
                                        placeholder="İçerik (İngilizce)">
                        </angular-editor>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion mt-3" id="accordionDetail">
            <div class="accordion-item">
              <h2 class="accordion-header"
                  [ngClass]="{'change-bgc':campaignUpdateFields.isDetailTrUpdated || campaignUpdateFields.isDetailEnUpdated}"
                  id="headingDetail">
                <button class="accordion-button collapsed accordion-custom" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseDetail"
                        aria-expanded="true"
                        aria-controls="collapseDetail">
                  Detay
                </button>
              </h2>
              <div id="collapseDetail" class="accordion-collapse collapse" aria-labelledby="headingDetail"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="detailTr">Türkçe</label>
                        <angular-editor [config]="editorConfig" formControlName="detailTr" id="detailTr"
                                        [ngClass]="{'change-bgc':campaignUpdateFields.isDetailTrUpdated}"
                                        placeholder="Detay (Türkçe)"></angular-editor>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="detailEn">İngilizce</label>
                        <angular-editor [config]="editorConfig" formControlName="detailEn" id="detailEn"
                                        [ngClass]="{'change-bgc':campaignUpdateFields.isDetailTrUpdated}"
                                        placeholder="Detay (İngilizce)"></angular-editor>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="form-group">
                <label for="campaignListImageUrl" class="form-label">Kampanya Liste Görseli</label>
                <input type="text"
                       class="form-control"
                       [ngClass]="{'change-bgc':campaignUpdateFields.isCampaignListImageUrlUpdated}"
                       name="campaignListImageUrl" id="campaignListImageUrl"
                       formControlName="campaignListImageUrl">
              </div>
              <a target="_blank"
                 *ngIf="campaignDefinitionF.campaignListImageDownloadUrl.value && campaignDefinitionF.campaignListImageDownloadUrl.value != ''"
                 [href]="campaignDefinitionF.campaignListImageDownloadUrl.value">
                Görüntüle
              </a>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="campaignDetailImageUrl" class="form-label">Kampanya Detay Görseli</label>
                <input type="text"
                       class="form-control"
                       [ngClass]="{'change-bgc':campaignUpdateFields.isCampaignDetailImageUrlUpdated}"
                       name="campaignDetailImageUrl" id="campaignDetailImageUrl"
                       formControlName="campaignDetailImageUrl">
              </div>
              <a target="_blank"
                 *ngIf="campaignDefinitionF.campaignDetailImageDownloadUrl.value && campaignDefinitionF.campaignDetailImageDownloadUrl.value != ''"
                 [href]="campaignDefinitionF.campaignDetailImageDownloadUrl.value">
                Görüntüle
              </a>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="form-group new-camp-calendar">
              <label for="startDateStr">Başlama Tarihi</label>
              <input type="text"
                     class="form-control pl-32px"
                     [ngClass]="{'change-bgc':campaignUpdateFields.isStartDateUpdated}"
                     name="startDateStr" id="startDateStr"
                     formControlName="startDateStr">
            </div>
          </div>
          <div class="col">
            <div class="form-group new-camp-calendar">
              <label for="endDateStr">Bitiş Tarihi</label>
              <input type="text"
                     class="form-control pl-32px"
                     [ngClass]="{'change-bgc':campaignUpdateFields.isEndDateUpdated}"
                     name="endDateStr" id="endDateStr"
                     formControlName="endDateStr">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="maxNumberOfUser">Max Kullanıcı</label>
              <input type="text"
                     class="form-control"
                     [ngClass]="{'change-bgc':campaignUpdateFields.isMaxNumberOfUserUpdated}"
                     name="maxNumberOfUser" id="maxNumberOfUser"
                     formControlName="maxNumberOfUser">
            </div>
          </div>
          <div class="col" *ngIf="!campaignDefinitionF.isBundle.value">
            <div class="form-group">
              <label for="order">Sıralama</label>
              <input type="text"
                     class="form-control"
                     [ngClass]="{'change-bgc':campaignUpdateFields.isOrderUpdated}"
                     name="order" id="order"
                     formControlName="order">
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col" *ngIf="campaignDefinitionF.programTypeId.value != 1">
            <div class="form-group">
              <label for="sectorName">Sektör</label>
              <input type="text"
                     class="form-control"
                     [ngClass]="{'change-bgc':campaignUpdateFields.isSectorIdUpdated}"
                     name="sectorName" id="sectorName"
                     formControlName="sectorName">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="participationTypeName">Katılım Şekli</label>
              <input type="text"
                     class="form-control"
                     [ngClass]="{'change-bgc':campaignUpdateFields.isParticipationTypeIdUpdated}"
                     name="participationTypeName" id="participationTypeName"
                     formControlName="participationTypeName">
            </div>
          </div>
        </div>
      </form>
      <form [formGroup]="campaignRulesFormGroup" class="p-4">
        <button class="title-button"
                [ngClass]="{'change-bgc':campaignUpdatePages.isCampaignRuleUpdated}">Kampanya Kuralları
        </button>
        <div class="row mt-3 px-2">
          <div class="col">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input scale-2x"
                       [ngClass]="{'change-bgc':campaignUpdateFields.isIsEmployeeIncludedUpdated}"
                       type="checkbox" id="isEmployeeIncluded" name="isEmployeeIncluded"
                       formControlName="isEmployeeIncluded">
                <label class="form-check-label ms-2" for="isEmployeeIncluded">Personel Dahil mi?</label>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input scale-2x"
                       [ngClass]="{'change-bgc':campaignUpdateFields.isIsPrivateBankingUpdated}"
                       type="checkbox" id="isPrivateBanking " name="isPrivateBanking "
                       formControlName="isPrivateBanking">
                <label class="form-check-label ms-2" for="isPrivateBanking ">Özel Bankacılık mı?</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 form-group mt-3">
            <label for="joinTypeName">Dahil Olma Şekli</label>
            <input type="text"
                   class="form-control"
                   [ngClass]="{'change-bgc':campaignUpdateFields.isCampaignRuleJoinTypeIdUpdated}"
                   name="joinTypeName" id="joinTypeName"
                   formControlName="joinTypeName">
          </div>
          <div class="col-6 mt-3" *ngIf="showForCustomer">
            <div class="row align-items-end">
              <div class="col form-group">
                <label for="identityNumber">{{ campaignRulesDocument ? 'Dosya Adı' : 'TCKN' }}</label>
                <input type="text"
                       class="form-control"
                       [ngClass]="{'change-bgc':campaignUpdateFields.isRuleIdentityUpdated}"
                       name="identityNumber" id="identityNumber"
                       formControlName="identityNumber">
              </div>
              <div class="col-auto" *ngIf="campaignRulesDocument">
                <button class="btn btn-secondary px-5" (click)="campaignRuleDocumentDownload()">
                  Görüntüle
                </button>
              </div>
            </div>
          </div>
          <div class="col-6 form-group mt-3" *ngIf="showBusinessLines">
            <label for="ruleBusinessLinesStr">İş Kolu</label>
            <input type="text"
                   class="form-control"
                   [ngClass]="{'change-bgc':campaignUpdateFields.isRuleBusinessLinesUpdated}"
                   name="ruleBusinessLinesStr" id="ruleBusinessLinesStr"
                   formControlName="ruleBusinessLinesStr">
          </div>
          <div class="col-6 form-group mt-3" *ngIf="showBranches">
            <label for="ruleBranchesStr">Şube</label>
            <input type="text"
                   class="form-control"
                   [ngClass]="{'change-bgc':campaignUpdateFields.isRuleBranchesUpdated}"
                   name="ruleBranchesStr" id="ruleBranchesStr"
                   formControlName="ruleBranchesStr">
          </div>
          <div class="col-6 form-group mt-3" *ngIf="showCustomerTypes">
            <label for="ruleCustomerTypesStr">Müşteri Tipi</label>
            <input type="text"
                   class="form-control"
                   [ngClass]="{'change-bgc':campaignUpdateFields.isRuleCustomerTypesUpdated}"
                   name="ruleCustomerTypesStr" id="ruleCustomerTypesStr"
                   formControlName="ruleCustomerTypesStr">
          </div>
        </div>
        <div class="row">
          <div class="col-6 form-group mt-3">
            <label for="startTermName">Kampanya Başlama Dönemi</label>
            <input type="text"
                   class="form-control"
                   [ngClass]="{'change-bgc':campaignUpdateFields.isCampaignRuleStartTermIdUpdated}"
                   name="startTermName" id="startTermName"
                   formControlName="startTermName">
          </div>
        </div>
      </form>
      <div class="p-4">
        <button class="title-button"
                [ngClass]="{'change-bgc':campaignUpdatePages.isCampaignTargetUpdated}">Hedefler
        </button>
        <div class="row pt-3 color-blue fw-bold">
          <div class="col-1">
            <img src="/assets/img/conjunction.png">
          </div>
          <div class="col-1">
            Bağlaç
          </div>
          <div class="col-10">
            Hedef Tanım İsmi
          </div>
        </div>
        <hr class="blue">
        <div *ngFor="let group of campaignTargetGroups">
          <div class="row campaign-target-row ctr-bgc"
               *ngFor="let campaignTarget of group.targetList">
            <div class="col-1"></div>
            <div class="col-1">VE</div>
            <div class="col-10">{{campaignTarget.name}}</div>
          </div>
          <div class="row campaign-target-row color-blue fw-bold"
               *ngIf="group != campaignTargetGroups[campaignTargetGroups.length-1]">
            <div class="col-1"></div>
            <div class="col-1">VEYA</div>
            <div class="col-10"></div>
          </div>
        </div>
      </div>
      <form [formGroup]="campaignGainsFormGroup" class="p-4">
        <button class="title-button"
                [ngClass]="{'change-bgc':campaignUpdatePages.isCampaignAchievementUpdated}">Kazanımlar
        </button>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="campaignGainChannelList">Kazanım Kanalı</label>
              <input type="text"
                     class="form-control"
                     [ngClass]="{'change-bgc':campaignUpdatePages.isCampaignChannelCodeUpdated}"
                     name="campaignGainChannelList" id="campaignGainChannelList"
                     formControlName="campaignGainChannelList">
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <table class="table">
              <thead class="gain-channel-table-head">
              <tr>
                <th>Tutar/Oran</th>
                <th>Kazanım Tipi</th>
                <th>Aksiyon</th>
                <th>Max Yararlanma</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor='let achievement of campaignAchievementList'>
                <td>{{achievement.rule?.name}}</td>
                <td>{{achievement.achievementType?.name}}</td>
                <td>{{achievement.actionOption?.name}}</td>
                <td>{{achievement.maxUtilizationStr}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
      <div class="p-4">
        <button class="title-button">Tarihçe</button>
        <div class="row fw-bold">
          <div class="col d-flex justify-content-start">
            İşlemi Yapan
          </div>
          <div class="col d-flex justify-content-end">
            İşlem Tarihi
          </div>
        </div>
        <hr class="blue mt-2 mb-0">
        <div class="history-row" *ngFor="let item of history">
          <div class="col d-flex justify-content-start">{{item.createdBy}}</div>
          <div class="col d-flex justify-content-end">{{item.createdOnStr}}</div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <app-auth-check [authorization]="currentUserAuthorizations.approve">
        <button class="btn btn-danger px-5 mx-2" type="button" (click)="approveState(false)">RET</button>
        <button class="btn btn-orange px-5 mx-2" type="button" (click)="approveState(true)">ONAYLA</button>
      </app-auth-check>
    </div>
  </div>
</app-main-content>
